<!--ZOOM IMAGE-->
<script src="/scripts/dist/xzoom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/scripts/dist/xzoom.css" media="all">
<!--./ZOOM IMAGE-->

<!--STAR RATING-->
<script src="/scripts/jquery.barrating.js"></script>
<link rel="stylesheet" href="/styles/fontawesome-stars.css">
<!--./STAR RATING-->  


<!--DETAILS SAN PHAM-->
<div class="container">
    <div class="row body_bg_white">

        <!--REVIEW IMAGE-->
        
        <section class="col-sm-5">
            <img class="xzoom img-thumbnail" src="/img/preview/SH_001_PW_01.jpg" xoriginal="/img/original/SH_001_OL_01.jpg" />
            <div class="xzoom-thumbs">
                <a href="image/original/A_A1_01.jpg">
                    <img class="xzoom-gallery" width="80" src="image/preview/A_A1_01-thumb.jpg" xpreview="image/preview/A_A1_01.jpg">
                </a>
                <a href="/img/original/SH_001_OL_02.jpg">
                    <img class="xzoom-gallery" width="80" src="/img/preview/SH_001_PW_02.jpg">
                </a>
                <a href="path/to/original_image_03.jpg">
                    <img class="xzoom-gallery" width="80" src="path/to/preview_image_03.jpg">
                </a>
                <a href="path/to/original_image_04.jpg">
                    <img class="xzoom-gallery" width="80" src="path/to/preview_image_04.jpg">
                </a>
            </div>
        </section>
        <!--INFORMATION-->
        <div class="col-sm-7">
            <h2 style="text-align:center">Dam Cong So KK66-33</h2>
            <!--TABLE RIGHT INFORMATION -->
            <table class="table table-condensed">
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <td> {{}} </td>
                </tr>
                <tr>
                    <th>Giá Tiền</th>
                    <td> {{}} </td>
                </tr>
                <tr>
                    <th>Màu Sắc</th>
                    <td> {{}} </td>
                </tr>
                <tr>
                    <th>Chất Liệu</th>
                    <td> {{}} </td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td> {{}} </td>
                </tr>
                <tr>
                    <th>Đánh Giá</th>
                    <td>
                        <select id="example">
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                        </select>
                    </td>
                </tr>
            </table>
            <!--./TABLE RIGHT INFORMATION-->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4 btn_details">
                    <a href="#">CHO VÀO GIỎ HÀNG</a>
                </div>
                <div class="col-sm-offset-1 col-sm-4 btn_details">
                    <a href="#">QUAY LẠI</a>
                </div>
            </div>

        </div>

        <!--===BODY===-->
        <div class="col-sm-9 body_details">
            <ul class="nav nav-tabs nav_details">
                <li class="active"><a data-toggle="tab" data-target="#thong_tin">Thông Tin Sản Phẩm</a></li>
                <li><a data-toggle="tab" data-target="#danh_gia">Đánh Giá Khách Hàng</a></li>
            </ul>

            <div class="tab-content">
                <!--===THONG TIN===-->
                <div id="thong_tin" class="tab-pane fade in active">
                    <h3>THÔNG TIN SẢN PHẨM</h3>
                    <p>{{item.description}}</p>
                    <img src="{{}}">
                </div>
                <!--===DANH GIA===-->
                <div id="danh_gia" class="tab-pane fade">
                    <h3>ĐÁNH GIÀ KHÁCH HÀNG</h3>
                </div>

            </div>

        </div>
        <!--===LINK===-->
        <div class="col-sm-3 body_link">
            <h4 style="text-align:center">Sản Phẩm Nổi Bật</h4>
        </div>

    </div>
</div>
<!--./DETAILS SAN PHAM-->

<!--===SCRIPT FOR ZOOM===-->
<script>
    $('.xzoom, .xzoom-gallery').xzoom({
        position: 'lens',
        lensShape: 'circle',
        sourceClass: 'xzoom-hidden'
    });
</script>
<!--./===SCRIPT FOR ZOOM===-->

<!--SCRIPT FOR STAR-->
<script type="text/javascript">
    $(function() {
        $('#example').barrating({
            theme: 'fontawesome-stars'
        });
    });
</script>
<!--./SCRIPT FOR STAR-->
