<!--====Facebook and Khuyen Mai====-->            
<div>
    <!--News-->
    <div class="col-sm-4">
        <h1>NEWS</h1>
    </div>
    <!--Chay Tin-->
    <div class="col-sm-4">
        <h1>CHAY TIN</h1>
    </div>
    <!--Facebook-->
    <div class="col-sm-4">
        <h1>FACEBOOK</h1> 
    </div>    
</div>
<!--.====/Facebook and Khuyen Mai====-->

<!--===FOOTER===-->
<footer class="footer">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>SHOP THỜI TRANG SYLIEU</h4>
            <ul >
                <li>
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                     Địa Chỉ : 
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                     Điện Thoại : 
                </li>
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                     Email : 
                </li>
                <li>
                    
                </li>
            </ul>  
        </div> 
        <div class="col-sm-3">
            <h4>THÔNG TIN</h4>    
        </div>
        <div class="col-sm-2">
            <h4>QUY ĐỊNH</h4>   
        </div>
        <div class="col-sm-3">
            <h4>HỖ TRỢ TRỰC TUYẾN</h4>
        </div>   
    </div>
</div>
<p class="copy_right">
    @ Copyright 2017 Shop SYLIEU. All right reserved.
</p>
</footer>
<!--===./FOOTER===-->