<!--HOME PAGE-->
<div class="container">
    <div class="row">
        <!--====Body===-->
        <div>
            <!--====KHUYEN MAI====-->
            <!-- <div class="col-sm-12 body_body">
            
                <h3 class="center_decor"> Khuyến Mãi Mùa Hè </h3>
            
                <div class="row">
                    san pham
                    <div class="col-sm-3" ng-repeat="item in aodaiResource">
                        <a href="#">
                            <img class="img-thumbnail" src="{{item.image}}">
                        </a>
            
                        <h4> {{item.tittle}} </h4>
                        <p> {{item.price}} </p>
            
                    </div>
            
                </div>
            </div> -->
            <!--====KHUYEN MAI====-->

            <!--====DRESS====-->
            <div class="col-sm-12 body_body" ng-controller="dressController">
                <!-- TITTLE DRESS -->
                <span class="line">
                    <h3 class="center_decor">
                        <a ui-sref="home.dress"> <span>Đầm</span> </a>
                    </h3>
                </span>

                <div class="row">
                    <div class="col-sm-3" ng-repeat="dres in dresses | limitTo:20">

                        <div class="menu_item">
                            <a ui-sref="home.dress.detail({id: dres._id})">

                                <img class="img-thumbnail" src="{{dres.image[0]}}">
                            </a>
                            <!--tittle-->
                            <a class="center_decor" ui-sref="home.dress.detail({id: dres._id})">
                                <h4> {{dres.tittle}} </h4>
                            </a>

                            <!--price-->
                            
                            <p>
                                <span><i class="fa fa-money" aria-hidden="true"></i> Giá: </span>
                                <span class="price">{{dres.price | currency:"":0}} VND </span> 
                                <span class="price_sale">{{dres.price_sale | currency:"":0}} </span> 
                            </p>
                        </div>

                    </div>

                </div>

            </div>
            <!--====DRESS====-->

            <!--====SHIRTS====-->
            <div class="col-sm-12 body_body" ng-controller="shirtsController">
                <!-- TITTLE SHIRTS -->
                <span class="line">
                    <h3 class="center_decor">
                        <a ui-sref="home.shirts"> <span>ÁO</span> </a>
                    </h3>
                </span>

                <div class="row">
                    <div class="col-sm-3" ng-repeat="shirt in shirts | limitTo:20">

                        <div class="menu_item">
                            <a ui-sref="home.shirts.detail({id: shirt._id})">

                                <img class="img-thumbnail" src="{{shirt.image[0]}}">
                            </a>
                            <!--tittle-->
                            <a class="center_decor" ui-sref="home.shirts.detail({id: shirt._id})">
                                <h4> {{shirt.tittle}} </h4>
                            </a>

                            <!--price-->
                            <p>
                                <span><i class="fa fa-money" aria-hidden="true"></i> Giá: </span>
                                <span class="price">{{shirt.price | currency:"":0}} VND </span> 
                                <span class="price_sale">{{shirt.price_sale | currency:"":0}} </span> 
                            </p>
                        </div>

                    </div>

                </div>

            </div>
            <!--====SHIRTS====-->

            <!--====AODAI====-->
            <div class="col-sm-12 body_body" ng-controller="aodaiController">
                <!-- TITTLE AODAI -->
                <span class="line">
                    <h3 class="center_decor">
                        <a ui-sref="home.aodai"> <span>ÁO DÀI</span> </a>
                    </h3>
                </span>

                <div class="row">
                    <div class="col-sm-3" ng-repeat="aodai in aodais | limitTo:20">

                        <div class="menu_item">
                            <a ui-sref="home.aodai.detail({id: aodai._id})">

                                <img class="img-thumbnail" src="{{aodai.image[0]}}">
                            </a>
                            <!--tittle-->
                            <a class="center_decor" ui-sref="home.aodai.detail({id: aodai._id})">
                                <h4> {{aodai.tittle}} </h4>
                            </a>

                            <!--price-->
                            <p>
                                <span><i class="fa fa-money" aria-hidden="true"></i> Giá: </span>
                                <span class="price">{{aodai.price | currency:"":0}} VND </span> 
                                <span class="price_sale">{{aodai.price_sale | currency:"":0}} </span> 
                            </p>
                        </div>

                    </div>

                </div>

            </div>
            <!--====AODAI====-->
            
            <!--===TROUSERS===-->
            <div class="col-sm-12 body_body" ng-controller="trousersController">
                <!-- TITTLE TROUSERS -->
                <span class="line">
                    <h3 class="center_decor">
                        <a ui-sref="home.trousers"> <span>QUẦN</span> </a>
                    </h3>
                </span>

                <div class="row">
                    <div class="col-sm-3" ng-repeat="trouser in trousers | limitTo:20">

                        <div class="menu_item">
                            <a ui-sref="home.trousers.detail({id: trouser._id})">

                                <img class="img-thumbnail" src="{{trouser.image[0]}}">
                            </a>
                            <!--tittle-->
                            <a class="center_decor" ui-sref="home.trousers.detail({id: trouser._id})">
                                <h4> {{trouser.tittle}} </h4>
                            </a>

                            <!--price-->
                            <p>
                                <span><i class="fa fa-money" aria-hidden="true"></i> Giá: </span>
                                <span class="price">{{trouser.price | currency:"":0}} VND </span> 
                                <span class="price_sale">{{trouser.price_sale | currency:"":0}} </span> 
                            </p>
                        </div>

                    </div>

                </div>

            </div>
            <!--===TROUSERS===-->
        </div>
        <!--===./body===-->

        <!--====Facebook and Khuyen Mai====-->
        <div>
            <!--News-->
            <div class="col-sm-4">
                <h1>NEWS</h1>
            </div>
            <!--Chay Tin-->
            <div class="col-sm-4">
                <h1>CHAY TIN</h1>
            </div>
            <!--Facebook-->
            <div class="col-sm-4">
                <h1>FACEBOOK</h1>
            </div>
        </div>
        <!--.====/Facebook and Khuyen Mai====-->

        <!--./Row-->
    </div>
</div>
<!--./HOME PAGE-->
