<!--AO DAI-->
<div class="container">
    <div class="row body_body">

        <span class="line">
            <h3 class="center_decor">
                <a ui-sref="home.aodai"> <span>ÁO DÀI</span> </a>
            </h3>
        </span>

        <div class="col-sm-3" ng-repeat="aodai in aodais">

            <div class="menu_item">
                <a ui-sref="home.aodai.detail({id: aodai._id})">

                    <img class="img-thumbnail" src="{{aodai.image[0]}}">
                </a>
                <!--tittle-->
                <a class="center_decor" ui-sref="home.aodai.detail({id: aodai._id})">
                    <h4> {{aodai.tittle}} </h4>
                </a>

                <!--price-->

                <p>
                    <span><i class="fa fa-money" aria-hidden="true"></i> Giá: </span>
                    <span class="price">{{aodai.price | currency:"":0}} VND </span>
                    <span class="price_sale">{{aodai.price_sale | currency:"":0}} </span>
                </p>
            </div>

        </div>

    </div>
</div>
