<div class="container">
    <div class="row body_body">

        <span class="line">
            <h3 class="center_decor">
                <a ui-sref="home.dress"> <span>Đầm</span> </a>
            </h3>
        </span>

        <div class="col-sm-3" ng-repeat="dres in dresses">

            <div class="menu_item">
                <a ui-sref="home.dress.detail({id: dres._id})">

                    <img class="img-thumbnail" src="{{dres.image[0]}}">
                </a>
                <!--tittle-->
                <a class="center_decor" ui-sref="home.dress.detail({id: dres._id})">
                    <h4> {{dres.tittle}} </h4>
                </a>

                <!--price-->

                <p>
                    <span><i class="fa fa-money" aria-hidden="true"></i> Giá: </span>
                    <span class="price">{{dres.price | currency:"":0}} VND </span>
                    <span class="price_sale">{{dres.price_sale | currency:"":0}} </span>
                </p>
            </div>

        </div>

    </div>
</div>
