<!--MENU FOR ALL DRESS AODAI SHIRTS AND TROUSERS-->
<div class="container">
    <div class="row">

        <h3 class="center_decor"> Đầm </h3>

        <div class="col-sm-3" ng-repeat="dres in dress">
            <div class="menu_item">
                <a ui-sref="app.details({id: dres._id})">

                <img class="img-thumbnail" src="{{dres.image_PW[0]}}">
            </a>
            <!--tittle-->
            <a ui-sref="app.details({id: dres._id})">
                <h4> {{dres.tittle}} </h4>
            </a>

            <!--price-->
            <p> {{dres.price | currency}} </p>
            </div>
            

        </div>

    </div>
</div>
