<!--===Navbar===-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
                <span class="navBrand">S</span>
                <span class="navBrand">Y</span>
                <span class="navBrand">L</span>
                <span class="navBrand">I</span>
                <span class="navBrand">E</span>
                <span class="navBrand">U</span>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a ui-sref="home.aodai"> ÁO DÀI </a>
            </li>
            <li>
                <a ui-sref="home.dress"> ĐẦM </a>
            </li>
            <li>
                <a ui-sref="home.trousers"> QUẦN </a>
            </li>
            <li>
                <a ui-sref="home.shirts"> ÁO </a>
            </li>
            <li>
                <a ui-sref="home.user"> Login </a>
            </li>
        </ul>

    </div>

</nav>
<!--===/Navbar===-->

<!--===SHIP===-->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-4 col-sm-4">
                <p class="ship">Miễn Phí 30 Ngày Đổi Trả</p>
            </div>
            <div class="col-xs-4 col-sm-4">
                <p class="ship">Miễn Phí Giao Hàng</p>
            </div>
            <div class="col-xs-4 col-sm-4">
                <p class="ship">Thanh Toán Khi Nhận Hàng</p>
            </div>
        </div>
    </div>
</div> -->
<!--===./SHIP===-->

<!--===BANNER===-->
<header class="jumbotron">

</header>
<!--===/.BANNER===-->
