<html lang="vi" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HuyK" content="HuyK">

    <title>Shop Thời Trang SYLIEU</title>
    <!--===bootstrap===-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!--===/bootstrap===-->

    <!--===style and font===-->

    <link href="./styles/my_styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!--===/style and font===-->
</head>

<body>
    <!--===Navbar===-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <span class="navBrand">S</span>
                    <span class="navBrand">Y</span>
                    <span class="navBrand">L</span>
                    <span class="navBrand">I</span>
                    <span class="navBrand">E</span>
                    <span class="navBrand">U</span>
                </a>
            </div>
            <div>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">Giỏ Hàng</p>
                    </li>
                    <li>
                        <p class="navbar-text">Login</p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--===/Navbar===-->

    <!--===SHIP===-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-4 col-sm-4">
                    <p class="ship">Miễn Phí 30 Ngày Đổi Trả</p>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <p class="ship">Miễn Phí Giao Hàng</p>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <p class="ship">Thanh Toán Khi Nhận Hàng</p>
                </div>
            </div>
        </div>
    </div>
    <!--===./SHIP===-->

    <div class="container">
        <div class="row">

            <!--====Body===-->

            <div class="col-sm-12 upload_body">

                <h2 style="text-align:center">TẠO THÔNG TIN SẢN PHẨM</h2>

                <form class="form-horizontal upload_text">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tiêu Đề :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Tiêu Đề Sản Phẩm" name="tittle" ng-model="deUpload.tittle">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giá Tiền : </label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="Giá Tiền Sản Phẩm" name="price" ng-model="deUpload.price">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Size : </label>
                        <div class="col-sm-10">

                            <div class="radio">
                                <label>
                                <input type="radio" name="size" value="S" ng-model="deUpload.size">
                                    S
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="size" value="M" ng-model="deUpload.size">
                                    M
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="size" value="L" ng-model="deUpload.size">
                                    L
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="size" value="XL" ng-model="deUpload.size">
                                    XL
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="size" value="free_size" ng-model="deUpload.size">
                                    FreeSize
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hình Ảnh Minh Hoạ :</label>
                        <div class="col-sm-10">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mô Tả Sản Phẩm :</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-click="">Khởi Tạo</button>
                        </div>
                    </div>

                </form>


            </div>

            <!--===./body===-->

            <!--====Facebook and Khuyen Mai====-->
            <div>
                <!--News-->
                <div class="col-sm-4">
                    <h1>NEWS</h1>
                </div>
                <!--Chay Tin-->
                <div class="col-sm-4">
                    <h1>CHAY TIN</h1>
                </div>
                <!--Facebook-->
                <div class="col-sm-4">
                    <h1>FACEBOOK</h1>
                </div>
            </div>
            <!--.====/Facebook and Khuyen Mai====-->

            <!--./Row-->
        </div>
        <!--Container-->
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>SHOP THỜI TRANG SYLIEU</h4>
                    <ul>
                        <li>
                            <i class="fa fa-location-arrow" aria-hidden="true"></i> Địa Chỉ :
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i> Điện Thoại :
                        </li>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i> Email :
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>THÔNG TIN</h4>
                </div>
                <div class="col-sm-2">
                    <h4>QUY ĐỊNH</h4>
                </div>
                <div class="col-sm-3">
                    <h4>HỖ TRỢ TRỰC TUYẾN</h4>
                </div>
            </div>
        </div>
        <p class="copy_right">
            @ Copyright 2017 Shop SYLIEU. All right reserved.
        </p>
    </footer>


    <!--script-->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="./scripts/services.js"></script>
    <script src="./scripts/controllers.js"></script>
    <!--/script-->
</body>

</html>
