<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" class="form-control" ng-model="user.username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="user.password"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="loginUser()">Login</button>
        </div>
    </form>
</div>
