<!--ZOOM IMAGE-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/xzoom/dist/xzoom.css" media="all">
<!--./ZOOM IMAGE-->

<section>
    <img class="xzoom" src="/img/preview/SH_001_PW_01.jpg" xoriginal="/img/original/SH_001_OL_01.jpg" />

    <div class="xzoom-thumbs">
        <a href="/img/original/SH_001_OL_01.jpg">
            <img class="xzoom-gallery" width="80" src="/img/preview/SH_001_PW_01.jpg">
        </a>
        <a href="/img/original/SH_001_OL_02.jpg">
            <img class="xzoom-gallery" width="80" src="/img/preview/SH_001_PW_02.jpg">
        </a>
        <a href="path/to/original_image_03.jpg">
            <img class="xzoom-gallery" width="80" src="path/to/preview_image_03.jpg">
        </a>
        <a href="path/to/original_image_04.jpg">
            <img class="xzoom-gallery" width="80" src="path/to/preview_image_04.jpg">
        </a>
    </div>
</section>

<!--===SCRIPT FOR ZOOM===-->
<script>
    $('.xzoom, .xzoom-gallery').xzoom({
        position: 'lens',
        lensShape: 'circle',
        sourceClass: 'xzoom-hidden'
    });

</script>
<!--./===SCRIPT FOR ZOOM===-->
