body {
    background: #eceff1;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

h3 {
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*BORDER TITTLE*/

.line {
    display: block;
    margin: 0px 0px 35px 0px;
}

.line h3 {
    font-size: 40px;
    text-align: center;
    border-bottom: 4px dotted #757575;
    position: relative;
}

.line h3 a:hover {
    text-decoration: none;
}

.line h3 span {
    background-color: #f5f5f5;
    position: relative;
    top: 25px;
    padding: 0 20px;
    color: #9e9e9e;
}

.jumbotron {
    background: white;
}

.navBrand {
    color: aliceblue;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 7px 5px 7px;
}

.navbar-inverse .navbar-nav>li {
    margin-left: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fafafa;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #e0e0e0;
}

.navbar-nav {
    margin-left: 10px;
}

.ship {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0px 0px 18px 0px;
    padding: 8px;
    font-size: 18px;
    border: 2px ridge;
    background-color: #2E2E2E;
    color: #f5f5f5;
    letter-spacing: 4px;
}


/*banner hang top page*/

.banner {
    background: white;
    border: 1px ridge;
}

.border_10 {
    padding: 10px;
    border: 1px ridge;
}

.footer {
    background: #2E2E2E;
    color: white;
}

.copy_right {
    text-align: center;
}

.body_body {
    background: #f5f5f5;
    margin: 5px;
    padding: 10px;
    border: 2px ridge;
}


/*text for border*/

.center_decor {
    margin: 0px;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
}

ul {
    list-style-type: none;
}

.border_tab_detail {
    padding: 40px;
    border: 1px ridge;
}


/*img*/

img {
    max-width: 100%;
    max-height: 100%;
}

.square {
    height: 75px;
    width: 75px;
}

.border {
    padding: 1px;
    border-bottom: 1px solid;
}

.body_details {
    margin: 20px 0px 20px 0px;
}

.nav_details {
    width: 50%;
    margin: auto;
    border-bottom: 1px ridge;
}

.body_link {
    margin: 20px 0px 20px 0px;
}

.body_bg_white {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-bottom-color: white;
    border: 2px ridge;
}

.btn_details {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.btn_details>a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.upload_body {
    padding: 10px;
    border: 1px groove;
    background-color: white;
}

.upload_text {
    font-size: 16px;
}

strong {
    font-size: 17px;
}

.xzoom {
    margin: 10px;
}

.menu_item {
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border: 2px ridge;
}

.jumbotron {
    background-image: url(/img/jumpotron.jpg);
    height: 50%;
    width: 100%;
}

.price {
    font-size: 20px;
    color: #b71c1c;
}

.price_sale {
    padding: 6px;
    text-decoration: line-through;
    float: right;
    font-size: 13px;
    color: #b71c1c;
}
